<h1>{{model.bandName}}</h1>
{{nav-bar}}
{{#if isEditing}}
	<label for="bandName">Band Name
		{{one-way-input value=model.bandName update=(action (mut model.bandName))}}
	</label>
	<button type="button" {{action "save"}}>save</button>
	{{#if isAddingMembers}}
		<a href="#" {{action "endAddMembersMode"}}>done adding members</a>
	{{else}}
		<a href="#" {{action "beginAddMembersMode"}}>add members</a>
	{{/if}}
{{else}}
	<p>Band Name: {{model.bandName}}</p>
	<a href="#" {{action "beginEditMode"}}>edit</a>
{{/if}}